@model Planner.Models.Meta

@{
    ViewData["Title"] = "Deletar Meta";
}

<h1>Deletar Meta</h1>

<form asp-action="Deletar" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <p>Tem certeza que deseja deletar a meta: <strong>@Model.Titulo</strong>?</p>

    <button type="submit" class="btn btn-danger">Deletar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
