@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #f4f4f4;
    padding: 20px;
}

.calendar-container {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 250px;
}

#calendar {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
}

#prev, #next {
    cursor: pointer;
    font-weight: bold;
}

#days-of-week {
    display: flex;
    grid-template-columns: repeat(7, 1fr);
    text-align: left;
    font-weight: bold;
    gap: 2px;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /*Cada coluna representa um dia da semana */
    text-align: center;
    margin-top: 10px;
    gap: 5px; /* Espaçamento entre os dias */
}

    #days div {
       
        background-color: #f9f9f9;
        border-radius: 3px;
        border: 1px solid #ddd;
    }

        #days div:hover {
            background-color: #eaeaea;
        }

.planner-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}

.classes-container {
    display: flex; /* Ativa o flexbox */
    justify-content: space-between; /* Espaço entre os itens */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se necessário */
    margin: 20px 0; /* Adiciona uma margem superior e inferior */
}

    .classes-container > div {
        flex: 1; /* Faz cada item ocupar espaço igual */
        margin: 0 10px; /* Margem entre os itens */
    }



h1 {
    text-align: center;
    margin-bottom: 20px;
}

.planner {
    display: flex; /* Muda para flexbox */
   
    justify-content: space-between; /* Espaçamento entre os dias */
    margin: 2px;
}

.day {
    font-family: 'Klee One', regular;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .day h2 {
        font-family: 'Alex Brush', regular;
        border: 1px;
        border-radius: 12px;
        background-color: #f1d3b2;
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        text-align: center;
        box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    }

    .day ul {
        list-style-type: none;
        padding: 0;
    }

        .day ul li {
            background-color: #f9f9f9;
            padding: 8px;
            margin-bottom: 5px;
            border-radius: 3px;
            border-left: 4px solid #fff;
        }

            .day ul li:nth-child(even) {
                background-color: #f1d3b5;
            }

            .day ul li:hover {
                background-color: #dfe6e9;
            }

.anot {
    font-family: 'Klee One', regular;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
    .anot h2 {
        font-family: 'Alex Brush', regular;
        border: 1px;
        border-radius: 8px;
        background-color: #f97591;
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

        .anot ul {
            list-style-type: none;
            padding: 1px;
        }

            .anot ul li {
                background-color: #fff;
                padding: 6px;
                border-radius: 3px;
                border-bottom: 1px solid #000;
            }

                .anot ul li:nth-child(even) {
                    background-color: #f97591;
                }

                .anot ul li:hover {
                    background-color: #fff;
                }

.liga {
    font-family: 'Klee One', regular;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .liga h2 {
        font-family: 'Alex Brush', regular;
        border: 1px;
        border-radius: 8px;
        background-color: #f9cadc;
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .liga ul {
        list-style-type: none;
        padding: 1px;
    }

        .liga ul li {
            background-color: #fff;
            padding: 6px;
            border-radius: 3px;
            border-bottom: 1px solid #000;
        }

            .liga ul li:nth-child(even) {
                background-color: #f9cadc;
            }

            .liga ul li:hover {
                background-color: #fff;
            }
.reune {
    font-family: 'Klee One', regular;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .reune h2 {
        font-family: 'Alex Brush', regular;
        border: 1px;
        border-radius: 8px;
        background-color: #d5edb9;
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .reune ul {
        list-style-type: none;
        padding: 1px;
    }

        .reune ul li {
            background-color: #fff;
            padding: 6px;
            border-radius: 3px;
            border-bottom: 1px solid #000;
        }

            .reune ul li:nth-child(even) {
                background-color: #d5edb9;
            }

            .reune ul li:hover {
                background-color: #fff;
            }
.compras {
    font-family: 'Klee One', regular;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    
    cursor: pointer;
}

    .compras h2 {
        font-family: 'Alex Brush', regular;
        border: 1px;
        border-radius: 8px;
        background-color: #a5e1e9;
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        text-align: center;
       
        cursor: pointer;
    }

    .compras ul {
        list-style-type: none;
        padding: 1px;
    }

        .compras ul li {
            background-color: #fff;
            padding: 6px;
            border-radius: 3px;
            border-bottom: 1px solid #000;
        }

            .compras ul li:nth-child(even) {
                background-color: #a5e1e9;
            }

            .compras ul li:hover {
                background-color: #fff;
            }

ul li a {
    color: inherit; /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}

.meta {
    font-family: 'Klee One', regular;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #FFEE75;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.meta h2 {
    font-family: 'Alex Brush', regular;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.meta ul {
    list-style-type: none;
    padding: 1px;
}

.meta ul li {
    background-color: #fff;
    padding: 6px;
    border-radius: 3px;
    border-bottom: 1px solid #000;
}

.meta ul li:hover {
    background-color: #fff;
}
